<div class="page-content">
  <div class="my-3 my-md-5">
    <div class="container">
      <div class="page-header">
        <h1 class="page-title">
          Overige producten
        </h1>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-aside p-3">
            <a style="cursor: zoom-in" (click)="open(content, 'ipanema')" class="card-aside-column card-image"><img
              class="image-margin" src="assets/images/ipanema.jpg"></a>
            <div class="card-body d-flex flex-column">
              <div class=" text-small"><h5>Ipanema Slippers</h5></div>
              <div class="text-muted">
                In de zomer zijn de mooie en fijn lopende slippers van Ipanema weer beschikbaar. Ze zijn er voor kleintjes, jongens/meisjes en volwassenen.
              </div>
              <br>
              <div class="text-muted">Kom dus snel een kijkje nemen naar de verschillende nieuwe modellen.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-aside p-3">
            <a style="cursor: zoom-in" (click)="open(content, 'zebrabags')" class="card-aside-column card-image"><img
              class="image-margin" src="assets/images/zebrabags.jpg"></a>
            <div class="card-body d-flex flex-column">
              <div class="text-small"><h5>Zebra Tassen</h5></div>
              <div class="text-muted">
                Voor dat het nieuwe schooljaar begint zijn deze kleurrijke, vrolijke en stevige tassen weer beschikbaar voor meisjes en stoere jongens.      </div>
              <br>
              <div class="text-muted">Want naar school gaan is pas echt "fun" met een tas van ZEBRA!</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-aside p-3">
            <a style="cursor: zoom-in" (click)="open(content, 'cadeaubon')" class="card-aside-column card-image"><img
              class="image-margin" src="assets/images/cadeaubon.jpg"></a>
            <div class="card-body d-flex flex-column">
              <div class=" text-small"><h5>Hip&Co Cadeaubon</h5></div>
              <div class="text-muted">
                De Hip&Co cadeaubon is hét cadeau voor iedereen die dol is op nieuwe kleding en andere accessoires. Een perfect kraamcadeau of voor een babyshower.
              </div>
              <br>
              <div class="text-muted">De prijs kunt u zelf bepalen.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-aside p-3">
            <a style="cursor: zoom-in" (click)="open(content, 'bergstein')" class="card-aside-column card-image"><img
              class="image-margin" src="assets/images/bergstein.jpg"></a>
            <div class="card-body d-flex flex-column">
              <div class="text-small"><h5>Bergstein Footwear</h5></div>
              <div class="text-muted">
                In de winter zijn deze hippe, gave en heerlijk zittende Bergstein Footwear regenaarsjes weer te koop!
              </div>
              <br>
              <div class="text-muted">Ze zijn dan weer beschikbaar in vele, sprankelende kleuren! Dat wordt spetteren!</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-aside p-3">
            <a style="cursor: zoom-in" (click)="open(content, 'accessory')" class="card-aside-column card-image"><img
              class="image-margin" src="assets/images/accessory.jpg"></a>
            <div class="card-body d-flex flex-column">
              <div class=" text-small"><h5>Accessoires</h5></div>
              <div class="text-muted">
                Accessoires zijn de beste manier om je look te updaten.
                Vind haarbandjes, armbandjes, haarklipjes, kettinkjes en nog veel meer bij Hip&Co.
              </div>
              <br>
              <div class="text-muted">Het hele jaar door leuke accesoires.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-aside p-3">
            <a style="cursor: zoom-in" (click)="open(content, 'baby')" class="card-aside-column card-image"><img
              class="image-margin" src="assets/images/baby.jpg"></a>
            <div class="card-body d-flex flex-column">
              <div class="text-small"><h5>Baby Kleding</h5></div>
              <div class="text-muted">
                Elk seizoen is er een verrassende, diverse én kindvriendelijke collectie van Feetje verkrijgbaar vanaf maat 44 t/m 86.!
              </div>
              <br>
              <div class="text-muted">Hoog gehalte aan “wat lief” “te cute” en “schattig” verzekerd!</div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #content let-c="close" let-d="dismiss">
        <!--<div class="modal-header">-->
        <!--<h4 class="modal-title">Cadeaubon</h4>-->
        <!--<a class="close" aria-label="Close" (click)="d('Cross click')">-->
        <!--</a>-->
        <!--</div>-->
        <div class="modal-body">
          <a class="card-aside-column card-image" aria-label="Close" (click)="d('Cross click')"><img [src]="image"></a>
        </div>
      </ng-template>
    </div>
  </div>
</div>

