.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Lato', sans-serif;
}

.header {
  height: auto;
  width: 100%;
  background-color: #ffffff;
}

.logo img{
  display: block;
  width: 170px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex !important;
}

.header-toggle-menu {
  width: 50px;
  height: 30px;
  padding-top: 10px;
}

.header-toggler {
  width: 2rem;
  height: 2rem;
  position: relative;
  color: #9aa0ac;
}

.header-toggler:hover {
  color: #6e7687;
}

.header-toggler-icon {
  position: absolute;
  width: 1rem;
  height: 2px;
  color: inherit;
  background: currentColor;
  border-radius: 3px;
  top: 50%;
  right: 50%;
  margin: -2px -.5rem 0 0;
  box-shadow: 0 5px currentColor, 0 -5px currentColor;
}

.toggleMenuStyle {
  display: block;
}

.header-nav {
  padding-top: 0.5rem;
  /*padding-bottom: 1rem;*/
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  color: black;
}
.header-nav .nav-tabs {
  /*padding-top: 0.55rem;*/
}
.header-nav .nav-link{
  padding: 0.55rem;
  height: 50px;
}

.header-nav .nav-item {
  min-width: 2rem;
  transition: .3s color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  /*line-height: 1;*/
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

/*.nav-link, .nav-item{*/
  /*padding: 0.55rem;*/

/*}*/

