<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-6 col-md-2 links-toggle">
            <ul class="list-unstyled mb-0">
              <h5>Informatie</h5>
              <li><a href="#">Ruilen & Retourneren</a></li>
              <li><a href="#">Garantie</a></li>
            </ul>
          </div>
          <!--<div class="col-6 col-md-2 links-toggle">-->
            <!--<ul class="list-unstyled mb-0">-->
              <!--<h5>Over ons</h5>-->
              <!--<li><a href="#">Contact</a></li>-->
              <!--<li><a href="#">Levering</a></li>-->
            <!--</ul>-->
          <!--</div>-->
          <div class="col-6 col-md-2 links-toggle">
            <ul class="list-unstyled mb-0">
              <h5>Winkel gegevens</h5>
              <p> Hip&Co <br> De Plaetse 89a <br> 5708ZK Helmond <br> Tel: 0492 784 565 <br> info@hipenco.com </p>
            </ul>
          </div>
          <div class="col-6 col-md-3 links-toggle">
            <ul class="list-unstyled mb-0">
              <h5>Openingstijden</h5>
              <p>
                Zondag Gesloten <br>
                Maandag Gesloten <br>
                Dinsdag 09:30 - 18:00 <br>
                Woensdag 09:30 - 18:00 <br>
                Donderdag 09:30 - 18:00 <br>
                Vrijdag 09:30 - 19:00 <br>
                Zaterdag 09:30 - 17:00 </p>
            </ul>
          </div>
          <div class="col-6 col-md-2 links-toggle">
            <ul class="list-unstyled mb-0 follow">
              <h5>Volg Hip&Co</h5>
              <img class="links" [src]="instagram">
              <img class="links" [src]="facebook">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-auto ml-auto">
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
        Copyright © 2018 <a href=".">Hip&Co</a>
      </div>
    </div>
  </div>
</footer>
