.links {
  width: 30px;
  height: 30px;
  margin-right: 5px
}

.footer h5, p  {
  font-family: 'Lato', sans-serif;
}

.links-toggle {
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
