<div class="page-content">
  <div class="container">
    <div class="page-header">
      <h1 class="page-title">
        Over Hip&Co
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="card-about">
          <div class="card-body">
            <div class="text-wrap p-lg-6">
              <h4 class="mt-0 mb-4">Contact opnemen</h4>
              <p>U kunt contact opnemen met Hip&Co op de volgende manieren:</p>
              <ol>
                <li>Via de mail op info@hipenco.com.
                </li>
                <li>Telefonisch bereikbaar via 0492-784565
                </li>
              </ol>
              <h4 id="setup-environment">Locatie</h4>

              <h4 id="build-tabler-locally">Extra informatie</h4>
              <strong>IBAN</strong>: NL88 RABO 017.10.95.510<br>
              <strong>KvK</strong>: 64373150<br>
              <strong>Vestigingsnr.</strong>: 000033203512<br>
              <strong>BTW</strong>: NL8563.41.149B01
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="main">-->
  <!--<div class="row">-->
  <!--<div class="garantie col-lg-8 col-xs-12">-->
  <!--<div class="informatie-page-header">-->
  <!--<h2>Over Hip&Co</h2>-->

  <!--<p>U kunt contact opnemen met Hip&Co op de volgende manieren:</p>-->
  <!--<p>1. Via de mail op info@hipenco.com</p>-->
  <!--<p>2. Telefonisch bereikbaar via 0492 784 565</p>-->
  <!--<br>-->
  <!--<p>Onze winkel is gevestig aan het volgende adres:</p>-->
  <!--<p>BestGiftsForYou</p>-->
  <!--<p>Overijsselplantsoen 2</p>-->
  <!--<p>5709CM Helmond</p>-->
  <!--</div>-->
  <!--<div class="informatie-page-title">-->
  <!--<strong>IBAN</strong>: NL88 RABO 017.10.95.510<br>-->
  <!--<strong>KvK</strong>: 65976584<br>-->
  <!--<strong>BTW</strong>: NL8563.41.149B01-->
  <!--<br><br>-->
  <!--<p>Schroom niet om contact met ons op te nemen. Klanttevredenheid is voor ons essentieel. Heeft u een vraag, opmerking of iets anders waarmee wij u kunnen helpen? Neem dan gerust contact met ons op!</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
