<div class="page-content">
  <div class="my-3 my-md-5">
    <div class="container">
      <div class="page-header">
        <h1 class="page-title">
          Over Hip & Co
        </h1>
      </div>
      <div class="row row-cards">
        <div class="col-lg-4 col-md-6">
          <div class="card-about">
            <div class="card-header">
              <h3 class="card-title">Kaart</h3>
              <div class="card-options">
              </div>
            </div>
            <div class="card-map card-map-placeholder">
              <div #gmap style="width: 100%; height: 100%;"></div>
            </div>
            <div class="card-body">
              <div class="media mb-5">
                <img class="d-flex mr-5 rounded about-image" [src]="logoImg">
                <div class="media-body">
                  <h5>Hip & Co B.V.</h5>
                  <address class="text-muted small">
                    De Plaetse 89a <br>
                    Helmond, 5708ZK
                  </address>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="h6">Website</div>
                  <p><a href="javascript:void(0)">http://www.hipenco.com</a></p>
                </div>
                <div class="col-6">
                  <div class="h6">Bedrijf</div>
                  <p>Baby- en kinderkleding</p>
                </div>
                <div class="col-6">
                  <div class="h6">Telefoonnummer</div>
                  <p>0492 784 565</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card-about">
            <div class="card-header">
              <h3 class="card-title">Informatie</h3>
              <div class="card-options">
              </div>
            </div>
            <div class="card-body">
              <h5 class="mt-0 mb-4">Contact opnemen</h5>
              <p>U kunt contact opnemen met Hip & Co op de volgende manieren:</p>
              <ol>
                <li>Via het <a style="margin-left: 5px; margin-right: 5px"><i class="ion-ios-mail"></i></a> rechtsonder op de pagina.
                </li>
                <li>Via de mail op info@hipenco.com.
                </li>
                <li>Telefonisch bereikbaar via 0492-784565
                </li>
              </ol>
              <br>
              <h5>Extra informatie</h5>
              <strong>IBAN</strong>: NL49 RABO 0306 8093 97<br>
              <strong>KvK</strong>: 64373150<br>
              <strong>Vestigingsnr.</strong>: 000033203512<br>
              <strong>BTW</strong>: NL8563.41.149B01
              <br>
              <br>
              <br>
              <p>Schroom niet om contact met ons op te nemen. Klanttevredenheid is voor ons essentieel.</p>
              <p> Heeft u een vraag, opmerking of iets anders waarmee wij u kunnen helpen? Neem dan gerust contact met
                ons op!</p>

            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card-about">
            <div class="card-header">
              <h3 class="card-title">Eigenaresse</h3>
            </div>
            <div class="card-body">
              <div>
                <img class="image-round" src="assets/images/marieke.jpg">
              </div>
              <div class="card-body border-line text-center">
                <p>Marieke van den Biggelaar</p>
                <p>23 jaar</p>
              </div>
              <br>
              <div class="">
                "Marieke van den Biggelaar, de kersverse eigenaresse van kinderkledingzaak Hip&Co, is door Rabobank
                Helmond uitgeroepen tot starter van het kwartaal" - Rabobank
              </div>
            </div>

            <div class="card-footer">
              @_hipenco
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
