<div class="page-content">
  <div class="my-3 my-md-5">
    <div class="container">
      <div class="page-header">
        <h1 class="page-title">
          Ruilen & Retourneren
        </h1>
      </div>
      <div class="row row-cards">
        <div class="col-lg-10 col-md-6">
          <div class="card-about">
            <div class="card-header">
              <h3 class="card-title">Voorwaarden</h3>
              <div class="card-options">
              </div>
            </div>
            <div class="card-body">
              <div class="text-wrap">
                <ul>
                  <li style="white-space: pre-line">Retourneren kan binnen 8 dagen met aangehechte kaartjes en originele bon.
                    Tijdens de sale periode verwachten wij een ruiling of retournering binnen 3 werkdagen.
                  </li>
                  <li style="white-space: pre-line">Bij retourneren kunt u kiezen tussen ruilen voor een ander artikel/maat of uw geld terug,
                      tijdens de sale ontvangt u van ons een tegoedbon.
                      Let op: bij verminderen van artikelen kunnen kortingspercentages aangepast worden.
                  </li>
                  <li >Bestellingen van artikelen doen wij graag voor u.
                    U betaalt €5,- verzendkosten vooraf.
                    Die we uiteraard vergoeden bij het afhalen van uw artikel.
                  </li>
                  <li>
                    U betaalt bij ons niets voor een tas.
                  </li>
                  <li style="white-space: pre-line">Door u aan te melden in ons klantensysteem in onze kassa spaart u punten bij uw aankoop.
                    Per euro die u uitgeeft spaart u een punt.
                    Bij het behalen van 250 Punten krijgt u de eerstvolgende aankoop de gelegenheid om €10,00,- in te wisselen op de aankoopprijs.
                  </li>
                  <li>
                    Tijdens sale of kortingsacties ontvangt u over de afgeprijsde artikelen geen punten.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
