<app-header></app-header>
<div class="container mt-4">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<div id="container-floating">
  <div *ngIf="edited" class="nd1 nds" data-toggle="tooltip" data-placement="left"><img class="reminder">
    <div class="content-inner">
      <div class="content-header">
        <div class="row">
          <div class="content-header-left">
            <div class="ion-android-contact"></div>
          </div>
          <div class="content-header-middle text-center">
            <span>CONTACT US!</span>
          </div>
          <div class="content-header-right">
            <div>
              <button (click)="openDetails()"><i class="ion-minus-round"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="content-top">
        <div class="content-text">
          <p>We horen graag iets van je. Vul het formulier in en wij nemen zo spoedig mogelijk contact met u op!</p>
        </div>
      </div>
      <div class="content-middle">
        <table class="table card-table" style="height: 100%;">
          <tbody>
          <tr class="conversation-form">
            <td>
              <div *ngIf="modelEmail !== undefined">
                <form name="form" [formGroup]="myform" (ngSubmit)="sendEmail()" #f="ngForm" novalidate
                      autocomplete="on">
                  <ul class="reset">
                    <li>
                      <div class="input-placeholder" [ngClass]="{
                      'has-danger': name.invalid && (name.dirty || name.touched),
                      'has-success': name.valid && (name.dirty || name.touched)}">
                        <input type="text"
                               class="form-control"
                               formControlName="name"
                               [(ngModel)]="modelEmail.customerName" required>
                        <div class="placeholder">
                          Name
                        </div>
                        <div class="form-control-feedback"
                             *ngIf="name.errors && (name.dirty || name.touched)">
                          <div *ngIf="name.errors " class="alert-circle"><a><i class="ion-alert-circled"></i></a></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="input-placeholder" [ngClass]="{
                      'has-danger': email.invalid && (email.dirty || email.touched),
                      'has-success': email.valid && (email.dirty || email.touched)}">
                        <input type="text"
                               class="form-control"
                               formControlName="email"
                               [(ngModel)]="modelEmail.customerEmail" required>
                        <div class="placeholder">
                          Email
                        </div>
                        <div class="form-control-feedback"
                             *ngIf="email.errors && (email.dirty || email.touched)">
                          <div *ngIf="email.errors" class="alert-circle"><a><i class="ion-alert-circled"></i></a></div>
                          <p style="font-size: 12px" *ngIf="email.errors">Email is niet correct!</p>
                        </div>
                      </div>
                    </li>
                    <li class="bubble">
                      <div class="input-placeholder" [ngClass]="{
                      'has-danger': message.invalid && (message.dirty || message.touched),
                      'has-success': message.valid && (message.dirty || message.touched)}">
                        <textarea type="text"
                                  class="form-control"
                                  formControlName="message"
                                  [(ngModel)]="modelEmail.emailMessage" required></textarea>
                        <div class="placeholder">
                          Message
                        </div>
                        <div class="form-control-feedback"
                             *ngIf="message.errors && (message.dirty || message.touched)">
                          <div *ngIf="message.errors" class="alert-circle"><a><i class="ion-alert-circled"></i></a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <button type="submit" class="btn btn-gray btn-block">Send email</button>
                    </li>
                  </ul>
                </form>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--<div class="content-bottom">-->
      <!--</div>-->
    </div>
  </div>
  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create"
       (click)="openDetails()">
    <p class="plus ion-email"></p>
  </div>
</div>



