<app-header></app-header>
<router-outlet></router-outlet>

<div id="container-floating">

  <!--<div class="nd5 nds" data-toggle="tooltip" data-placement="left" data-original-title="Simone"></div>-->
  <!--<div class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="contract@gmail.com"><img-->
  <!--class="reminder">-->
  <!--<p class="letter">A</p>-->
  <!--</div>-->
  <!--<div class="nd3 nds" data-toggle="tooltip" data-placement="left" data-original-title="Reminder"><img-->
  <!--class="reminder"-->
  <!--src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_reminders_speeddial_white_24dp.png"/></div>-->
  <div class="nd1 nds" data-toggle="tooltip" data-placement="left"><img class="reminder">
    <div class="content-inner">
      <!--<div class="card-header">-->
      <!--<h3 class="card-title">Contact US!</h3>-->
      <!--</div>-->
      <div class="content-header">
        <div class="ion-android-contact">
          <span>CONTACT US!</span></div>
      </div>
      <div class="content-top">
        <div class="content-text">
          <p>We horen graag iets van je. Vul het formulier in en wij nemen zo spoedig mogelijk contact met u op!</p>
        </div>
      </div>
      <div class="content-middle">
        <table class="table card-table" style="height: 100%;">
          <tbody>
          <tr class="conversation-form">
            <td>
              <form action="" method="post">
                <ul class="reset">
                  <li>
                    <div class="input-placeholder">
                      <input class="form-control" type="text" required>
                      <div class="placeholder">
                        Name
                      </div>
                    </div>
                  </li>
                  <li class="input bubble">
                    <div class="input-placeholder">
                      <input class="form-control" type="text" required>
                      <div class="placeholder">
                        Email
                      </div>
                    </div>
                  </li>
                  <li>
                      <span class="bubble">
                        <textarea class="form-control"></textarea>
                        <div class="placeholder">
                          Message
                        </div>
                      </span>
                  </li>
                </ul>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="content-bottom">

      </div>
    </div>
  </div>

  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create"
       onclick="newmail()">
    <p class="plus ion-email"></p>
    <!--<img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">-->
  </div>

</div>

<!--<div class="zoom">-->
<!--<a class="zoom-fab zoom-btn-large" id="zoomBtn">Open</a>-->
<!--<ul class="zoom-menu">-->
<!--<li><a class="zoom-fab zoom-btn-sm zoom-btn-person scale-transition scale-out">Action 1</a></li>-->
<!--<li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out">Action 2</a></li>-->
<!--<li><a class="zoom-fab zoom-btn-sm zoom-btn-tangram scale-transition scale-out">Action 3</a></li>-->
<!--<li><a class="zoom-fab zoom-btn-sm zoom-btn-report scale-transition scale-out">Action 4</a></li>-->
<!--<li><a class="zoom-fab zoom-btn-sm zoom-btn-feedback scale-transition scale-out">Action 5</a></li>-->
<!--</ul>-->
<!--<div class="zoom-card scale-transition scale-out">-->
<!--<ul class="zoom-card-content">-->
<!--<li>Content 1</li>-->
<!--<li>Content 2</li>-->
<!--<li>Content 3</li>-->
<!--<li>Content 4</li>-->
<!--<li>Content 5</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<app-footer></app-footer>



