<div class="page-content">
  <div class="my-3 my-md-5">
    <div class="container">
      <div class="page-header">
        <h1 class="page-title">
          Merken
        </h1>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-aside p-3">
            <a class="card-aside-column card-image"><img src="assets/images/retour.png"></a>
            <div class="card-body d-flex flex-column">
              <div class="text-muted text-small">Retour denim de Luxe is hét jeansmerk voor stoere, modieuze, hippe
                kids, die zich
                graag door hun kleding willen onderscheiden. Fashion for kids met een volwassen twist. Retour Denim de
                Luxe staat voor premium kwaliteit, pasvorm en afwerking met oog voor detail.
                <br>
                <br>
                Retour Denim de Luxe heeft 4 vernieuwende collecties per jaar, 2 hoofdcollecties en 2 flash collecties.
                Momenteel wordt Retour
                Denim de Luxe verkocht in 18 landen. Laat je ook betoveren door de magie van Retour Denim de Luxe.
              </div>
              <br>
              <div class="text-big"><h5>Act different, Think different, Dress different!</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-aside p-3">
            <a class="card-aside-column card-image"><img src="assets/images/geisha.png"></a>
            <div class="card-body d-flex flex-column">
              <div class="text-muted text-small">Geisha Fashion is voor de onafhankelijke vrouw van alle leeftijden, die
                zich graag
                wil kleden naar hoe zij zich voelt. In elke collectie is een goed evenwicht gevonden tussen speels en
                ladylike, met mooie prints, comfortabele stoffen en mooie knitwear.
                <br>
                <br>
                Wat begon met een zoektocht naar de perfecte spijkerbroek, is uitgegroeid tot één van de grootste merken
                die jaarlijks vier collecties produceert, bestaande uit talrijke styles, verkrijgbaar in verschillende
                kleuren en stoffen.
              </div>
              <br>
              <div class="text-big"><h5>'Continuance is strength'</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-aside p-3">
            <a class="card-aside-column card-image"><img src="assets/images/bnosy.png"></a>
            <div class="card-body d-flex flex-column">
              <div class="text-muted text-small">B.Nosy is een kinderkleding merk dat zich richt op jongens en meisjes
                in de maten 86/92 tot en met 158/164.
                <br>
                <br>
                Vooral het speelse, maar stoere karakter én het hoge comfort van de collecties,
                maakt dat B.Nosy niet alleen bij kinderen, maar ook bij hun ouders erg geliefd is.
              </div>
              <br>
              <div class="text-big"><h5>'B.NOSY, Stoere kleding voor eigenwijze kids!'</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-aside p-3">
            <a class="card-aside-column card-image"><img src="assets/images/legends.png"></a>
            <div class="card-body d-flex flex-column">
              <div class="text-muted text-small">Legends22 is begonnen in de zomer van 2016, en een puur Nederlands merk
                voor jongens!<br><br>

                De naam komt voort uit de gedachte dat er een heleboel legendarische mannen zijn die ooit jongens met
                dromen waren.
                Niemand kon vermoeden dat zij legendes zouden worden.
                Een groot aantal van deze legendes vind je op de achterkant van de kaartjes aan de kleding.
              </div>
              <br>
              <div class="text-big"><h5>'En de 22 achter Legends? Dat is een geluksgetal. En een beetje geluk heb je ook nodig in dit
                leven. Zeker als je van plan bent om zelf een legende te gaan worden!'</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-aside p-3">
            <a class="card-aside-column card-image"><img src="assets/images/tygovito.png"></a>
            <div class="card-body d-flex flex-column">
              <div class="text-muted text-small">Have fun, be active & feel comfortable!
                De collecties van dit jeansmerk zijn vrolijk, makkelijk te dragen en heel betaalbaar.
                Voor jongens van 2 t/m 12 jaar in de maat 92 t/m152.
                <br>
                <br>
                Never out of stock jeans De stretch- en jogjeans van TYGO & vito zijn altijd op voorraad.
                Ze zijn verkrijgbaar in zowel een skinny- als slimfit, beide in drie wassingen. Prijs vanaf € 29.95.
              </div>
              <br>
              <div><h5>'SEE YOU NEXTERDAY'</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-aside p-3">
            <a class="card-aside-column card-image"><img src="assets/images/flo.png"></a>
            <div class="card-body d-flex flex-column">
              <div class="text-muted text-small">Like Flo zegt niet wat je moet doen. Alles mag. Alles kan. Alles past
                bij elkaar.
                Als kind wil je het liefst zelf je kleren uitkiezen. Lekker eigenwijs. Dragen wat je leuk vindt.
                Niet moeilijk doen. Geen gezeur. Kleren om in te spelen. Vies maken mag, en niks hoeft.
                <br>
                <br>
                Like Flo is leuk, grappig hip. Het is draagbaar.
                Met alles te combineren. De kwaliteit is geweldig. Like Flo maakt basic bijzonder.
                En nog heel erg betaalbaar ook!
              </div>
              <br>
              <div class="text-big"><h5>'WHY WOULDN'T YOU LIKE FLO? IMPOSSIBLE!'</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-aside p-3">
            <a class="card-aside-column card-image"><img src="assets/images/lovestation.png"></a>
            <div class="card-body d-flex flex-column">
              <div class="text-muted text-small">LoveStation22 is een stoer, exclusief Nederlands kledingmerk voor
                avontuurlijk meisjes tussen de 4 en 12 jaar.
                De kleding van LoveStation22 is meisjesachtig én hip. Kleding die lekker zit, mooi blijft en ook nog
                eens betaalbaar is.
                <br>
                <br>
                De natuur is vaak de inspiratiebron bij het ontwerpen van de kleding. Daarom zie je in de collectie veel
                dierenprints terug.
              </div>
              <br>
              <div class="text-big"><h5>'Met je aankoop steun je altijd een goed doel!'</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-aside p-3">
            <a class="card-aside-column card-image"><img src="assets/images/lofff.png"></a>
            <div class="card-body d-flex flex-column">
              <div class="text-muted text-small">LoFff is voor meisjes. Voor meisjes die dansen. Voor meisjes die
                spelen.
                Voor meisjes die ontdekken. Maar vooral voor meisjes die plezier hebben. In het leven en in zichzelf.
                <br>
                <br>
                LoFff is lief. Lief voor de meisjes die het dragen – lekker zacht, makkelijk aan en uit te doen,
                comfortabel. Lief voor ouders die het kopen en die het moeten wassen.
                Lief voor de mensen waar we mee werken en waar we van houden.
              </div>
              <br>
              <div class="text-big"><h5>'WE DRESS GIRLS. FABULOUSLY!'</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
