<div class="page-content" xmlns="">
  <div class="container">
      <div class="page-header">
        <h1 class="page-title">
          Welkom
        </h1>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card-about">
            <div class="card-body">
              <p> Lorem ipsum dolor sit amet, nec auctor a morbi porro, varius justo dui, placerat massa rutrum est,
                nonummy sit dolor ac etiam, nisl libero sodales sagittis dictum pellentesque vitae. Vestibulum faucibus
                placerat erat, commodo erat pellentesque mollis in sollicitudin, dignissim egestas, vestibulum tellus
                vitae lacinia vivamus a nec, eros dui hendrerit. Vestibulum id, ipsum sapien suspendisse, et sed et
                nulla dictum. Ipsum ullamcorper wisi arcu tincidunt ornare. Quam posuere gravida malesuada, mollis dis
                in faucibus, sed cum nullam risus sagittis in veniam, est mi ullamcorper et magni etiam. Duis dignissim
                vel morbi nulla orci morbi, vivamus a vel volutpat, nec sem aliquet nulla tempor nonummy, elit
                consectetuer at eu. Interdum justo, tempor dolor ridiculus bibendum tortor urna, dui et praesent diam
                turpis eu, lectus feugiat donec, aenean sed rutrum dictum. Quia nec vivamus, volutpat blandit quisque
                nunc in dui in aenean sed rutrum dictum. Quia nec vivamus, volutpat aenean sed rutrum dictum. Quia nec
                vivamus, volutpat aenean sed rutrum dictum. Quia nec vivamus, volutpat aenean sed rutrum dictum. Quia
                nec vivamus, volutpat aenean sed rutrum dictum. Quia nec vivamus, volutpat</p>

            </div>
          </div>
        </div>
      </div>
      <div class="">
        <h1 class="page-title">
          Onze merken
        </h1>
      </div>
      <div class="row row-cards">
        <div class="col-6 ol-sm-4 col-lg-3">
          <div class="card-home">
            <div class="card-image">
              <img [src]="retour">
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3">
          <div class="card-home">
            <div class="card-image">
              <img [src]="bnosy">
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3">
          <div class="card-home">
            <div class="card-image">
              <img [src]="geisha">
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3">
          <div class="card-home">
            <div class="card-image">
              <img [src]="legends">
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3">
          <div class="card-home">
            <div class="card-image">
              <img [src]="tygo">
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3">
          <div class="card-home">
            <div class="card-image">
              <img [src]="flo">
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3">
          <div class="card-home">
            <div class="card-image">
              <img [src]="lovestation">
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3">
          <div class="card-home">
            <div class="card-image">
              <img [src]="lofff">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



