<div class="page-content">
  <div class="container">
    <!--<div class="page-header">-->
    <!--<h1 class="page-title">-->
    <!--Welkom-->
    <!--</h1>-->
    <!--</div>-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card-about">
          <div class="card-body">
            <div class="row row-cards row-deck">
              <div class="col-md-4">
                <img style="cursor: zoom-in" (click)="open(content, 'shop_outside')"
                     class="image-margin image-background" src="assets/images/shop_outside.jpg">
              </div>
              <div class="col-md-4">
                <img style="cursor: zoom-in" (click)="open(content, 'shop_inside')"
                     class="image-margin image-background" src="assets/images/shop_inside.jpg">
              </div>
              <div class="col-md-4">
                <img style="cursor: zoom-in" (click)="open(content, 'shop_bali')" class="image-margin image-background"
                     src="assets/images/shop_bali.jpg">
              </div>
              <!--<div class="col-md-3">-->
              <!--<img class="image-background" src="assets/images/shoes/_lightgreen.jpg">-->
              <!--</div>-->
            </div>
            <div class="row" style="margin-top: 30px; margin-bottom: 60px">
              <div class="text-center">
                <div class="welcome-text">Welkom bij Hip & Co</div>
                <div class="text-muted text-center" style="padding-left: 15%; padding-right: 15%;">Ben je bijvoorbeeld
                  op zoek naar een leuk kraamcadeau, een goede jeans, een zomerse slipper of juist een regenlaarsje, dat
                  ene jurkje of dat ene stoere jasje,
                  loop dan snel eens binnen en laat je verrassen.
                  Van dinsdag tot en met zaterdag staat de koffie, thee en ranja klaar. Natuurlijk met iets lekkers
                  erbij.
                </div>
              </div>
            </div>
            <div class="row col-lg-12" style="margin-bottom: 25px">
              <div class="col-lg-3 text-center">
                <a [routerLink]="['product']" class="btn btn-secondary btn-assort">Assortiment</a>
              </div>
              <div class="col-lg-6  text-center">
                <a [routerLink]="['about']" class="btn btn-secondary btn-contact">Bezoek of Contact ons</a>
              </div>
              <div class="col-lg-3 text-center">
                <a [routerLink]="['gallery']" class="btn btn-secondary btn-assort">Gallerij</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #content #img let-c="close" let-d="dismiss">
      <!--<div class="modal-header">-->
      <!--<a class="close" aria-label="Close" (click)="d('Cross click')">-->
      <!--</a>-->
      <!--</div>-->
      <div class="modal-body">
        <a class="card-aside-column card-image" aria-label="Close" (click)="d('Cross click')"><img [src]="image"></a>
      </div>
    </ng-template>
    <div class="row">
      <div class="col-lg-8">
        <div class="card p-3">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
              <a style="cursor: zoom-in" (click)="open(content, '/shoes/_blue')"><img class="card-img-top image-margin"
                                                                                      src="assets/images/shoes/_blue.jpg"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <a style="cursor: zoom-in" (click)="open(content, '/shoes/_lightblue')"><img
                class="card-img-top image-margin"
                src="assets/images/shoes/_lightblue.jpg"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <a style="cursor: zoom-in" (click)="open(content, '/shoes/_pink')"><img class="card-img-top image-margin"
                                                                                      src="assets/images/shoes/_pink.jpg"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 p-3">
              <a style="cursor: zoom-in" (click)="open(content, '/shoes/_green')"><img class="card-img-top"
                                                                                       src="assets/images/shoes/_green.jpg"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 p-3">
              <a style="cursor: zoom-in" (click)="open(content, '/shoes/_lightgreen')"><img class="card-img-top"
                                                                                            src="assets/images/shoes/_lightgreen.jpg"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 p-3">
              <a style="cursor: zoom-in" (click)="open(content, '/shoes/_red')"><img class="card-img-top"
                                                                                     src="assets/images/shoes/_red.jpg"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-about">
          <div class="card-header" style="width: 100%;">
            <div style="width: 90%;">
              <h3 class="card-title">Handgemaakte schoentjes</h3>
            </div>
            <div class="item-action dropdown">
              <a  data-toggle="dropdown"><i class="ion-ios-information-circle-outline"></i></a>
              <div class="dropdown-menu dropdown-menu-right" style="min-width: 20rem;">
                <div style="padding: 0rem 1.0rem 0.5rem 1.0rem; border-bottom: 1px solid rgba(0, 40, 100, 0.12);"><h5 class="card-title">Informatie</h5></div>
                <div class="card-body text-muted-dark" style="padding: 0.5rem 1.0rem 0rem 1.0rem;">* Handgemaakt<br>
                  * Materiaal: 100% katoen<br>
                  * Maat: 15/16 EU Kinderen<br>
                  * Wasbaar op 30°C in de fijne was of handwas.<br>
                  * Op bestelling<br>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body" style="padding-top: 0.5rem;">
            Katoenen schoentjes voor een baby van 0-6 maanden. De schoentjes zijn met liefde en passie met de hand gehaakt.
            De lengte van de zool is +/- 7cm (2,76 inch).
            <br><br>
            Een perfect kraamcadeau of voor een babyshower.
            Ook leuk om als decoratie te gebruiken in de baby kamer.
            <br><br>
            In verschillende kleuren leverbaar, de neus en zool zijn standaard wit.
            <br>
            Indien de kleur er niet tussen staat die u graag had gewild, laat het me dan even weten via een mailtje hoe ik eruit moet zien?. Het duurt gemiddeld 2 tot 5 werkdagen voor dat de schoentjes compleet gemaakt zijn.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card-about">
          <div class="card-header" style="width: 100%;">
            <div style="width: 90%;">
              <h3 class="card-title">Handgemaakte rammelaars</h3>
            </div>
            <div class="item-action dropdown">
              <a  data-toggle="dropdown"><i class="ion-ios-information-circle-outline"></i></a>
              <div class="dropdown-menu dropdown-menu-right" style="min-width: 20rem;">
                  <div style="padding: 0rem 1.0rem 0.5rem 1.0rem; border-bottom: 1px solid rgba(0, 40, 100, 0.12);"><h5 class="card-title">Informatie</h5></div>
                  <div class="card-body text-muted-dark" style="padding: 0.5rem 1.0rem 0rem 1.0rem;">* Handgemaakt<br>
                    * Materialen: garen van 100% katoen, polyester vulling, veilige ogen<br>
                    * De rammelaar is ongeveer 14 cm hoog<br>
                    * Houten ring (onbewerkt hout, doorsnede 7cm)<br>
                    * Op bestelling<br>
                  </div>
              </div>
            </div>
          </div>
          <div class="card-body" style="padding-top: 0.5rem;">
            Wij zijn Teddy de Beer en Flappy het konijn, ken je me al?<br><br>
            Ik ben op zoek naar een speelkameraadje, wil jij mijn maatje zijn?
            Als je hard met me schud praat ik gezellig terug, en mijn ring is ideaal voor kleine handjes en doorkomende
            tandjes.
            <br><br>
            Ben ik vies geworden van al het spelen en knuffelen?
            Dan mag je me gewoon voorzichtig wassen.
            <br><br>
            Ik heb heel veel dierenvriendjes, in allemaal verschillende kleuren en figuren.
            <br><br>
            Als ik jou vriendje mag zijn, laat je me het dan even weten via een mailtje hoe ik eruit moet zien? Het duurt ongeveer 2 tot 5
            werk dagen voor dat de rammelaar compleet gemaakt is.
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card p-3">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <a style="cursor: zoom-in" (click)="open(content, '/rattle/_bear-blue')"><img
                class="card-img-top image-margin image-rattle"
                src="assets/images/rattle/_bear-blue.jpg"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
              <a style="cursor: zoom-in" (click)="open(content, '/rattle/_bear-brown')"><img
                class="card-img-top image-margin image-rattle"
                src="assets/images/rattle/_bear-brown.jpg"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <a style="cursor: zoom-in" (click)="open(content, '/rattle/_bear-orange')"><img
                class="card-img-top image-margin image-rattle"
                src="assets/images/rattle/_bear-orange.jpg"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 p-3">
              <a style="cursor: zoom-in" (click)="open(content, '/rattle/_flappy-gray')"><img
                class="card-img-top image-rattle"
                src="assets/images/rattle/_flappy-gray.jpg"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 p-3">
              <a style="cursor: zoom-in" (click)="open(content, '/rattle/_flappy-orange')"><img
                class="card-img-top image-rattle"
                src="assets/images/rattle/_flappy-orange.jpg"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 p-3">
              <a style="cursor: zoom-in" (click)="open(content, '/rattle/_flappy-turquise')"><img
                class="card-img-top image-rattle"
                src="assets/images/rattle/_flappy-turquise.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <h1 class="page-title">
        Onze merken
      </h1>
    </div>
    <div class="row row-cards">
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card-home">
          <div class="card-image">
            <img [src]="retour">
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card-home">
          <div class="card-image">
            <img [src]="bnosy">
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card-home">
          <div class="card-image">
            <img [src]="geisha">
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card-home">
          <div class="card-image">
            <img [src]="legends">
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card-home">
          <div class="card-image">
            <img [src]="tygo">
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card-home">
          <div class="card-image">
            <img [src]="flo">
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card-home">
          <div class="card-image">
            <img [src]="lovestation">
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card-home">
          <div class="card-image">
            <img [src]="lofff">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="my-3 my-md-5">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="card-about">-->
<!--<div class="card-header">-->
<!--<h3 class="card-title">Carousel</h3>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div id="carousel-default" class="carousel slide" data-ride="carousel">-->
<!--<div class="carousel-inner">-->
<!--<div class="carousel-item active">-->
<!--<img class="d-block w-100" alt="" src="./assets/images/retour.png"-->
<!--data-holder-rendered="true">-->
<!--</div>-->
<!--<div class="carousel-item">-->
<!--<img class="d-block w-100" alt="" src="./assets/images/geisha.png"-->
<!--data-holder-rendered="true">-->
<!--</div>-->
<!--<div class="carousel-item">-->
<!--<img class="d-block w-100" alt="" src="./assets/images/lovestation.png"-->
<!--data-holder-rendered="true">-->
<!--</div>-->
<!--<div class="carousel-item">-->
<!--<img class="d-block w-100" alt="" src="./assets/images/flo.png"-->
<!--data-holder-rendered="true">-->
<!--</div>-->
<!--<div class="carousel-item">-->
<!--<img class="d-block w-100" alt="" src="./assets/images/geisha.png"-->
<!--data-holder-rendered="true">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->




